/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    margin: 0;
    background-color: #000000;
    /* font-family: 'Roboto', sans-serif; */

}
html {
    scroll-behavior: smooth;
}

/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    backdrop-filter: blur(10px); /* Applies the blur effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    z-index: 1000; /* Ensures the navbar is above other elements */
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease; /* Smooth transitions */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo Styling */
.logo a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #00bcd4; /* Accent color */
    transition: color 0.3s;
    /* font-family: 'Cursive'; */
    font-family: Cursive ;
    text-transform: uppercase;
}

.logo a:hover {
    color: #26c6da;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    /* border-radius: 5px; */
    transition: background-color 0.3s, color 0.3s;
}

.nav-links li a:hover {
    border-bottom: 2px solid gray;
    color: #14cade;
}
.nav-links a.active {
    /* color: #ff9800;  */
    font-weight: bold;
    border-bottom: 2px solid #231603;
}

/* Mobile Menu Toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: #00bcd4;
}

.bar {
    background-color: rgb(4, 4, 4);
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
} 

.btn li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    font-weight:500;
    color: #00bcd4;
}
.btn li a:hover{
    color: white;

}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #1a1a1a;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin-bottom: 10px;
    }
}


.text-content {
    flex: 1;
    z-index: 2;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.text-content h1 {
    font-size: 3rem;
    font-weight: bold;
}

.text-content h1 span {
    color: #ffffff;
}

.text-content h2 {
    font-size: 1.8rem;
    margin-top: 10px;
    color: #26c6da;
    font-style: 'Poppins';
    height: 40px;
}

.text-content p {
    margin: 15px 0;
    font-size: 1.2rem;
    color: #ddd;
    font-family: 'Popins';
}

.text-content blockquote {
    font-size: 1.2rem;
    margin-top: 10px;
    padding-left: 20px;
    border-left: 3px solid #ff5722;
    color: #bbb;
    font-style: italic;
}

.image-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.image-content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(50px);
    /* animation: float 6s infinite ease-in-out; */
}

/* @keyframes float {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(0);
    }
} */
 .home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding: 2rem;
}

.diagonal-container {
  display: flex;
  flex-wrap: wrap; /* Allows elements to wrap onto a new line */
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
}

.text-content .btn {
  display: inline-block;
  padding: 5px ,10px ;
  background-color: #121212;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.text-content .btn:hover {
  background-color: #19191a;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .diagonal-container {
    flex-direction: column; /* Stacks the image and text vertically */
    text-align: center;
  }

  .image-content,
  .text-content {
    width: 100%; /* Take full width on small screens */
  }

  .text-content h1 {
    font-size: 1.8rem;
  }

  .text-content h2 {
    font-size: 1.2rem;
  }
}


/* Button Styling */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #060606;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s;
}

.btn:hover {
    background-color: #272727;
    transform: scale(1.05);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .text-content {
        text-align: center;
    }

    .text-content h1 {
        font-size: 2.5rem;
    }

    .text-content h2 {
        font-size: 1.5rem;
    }

    .image-content img {
        width: 200px;
        height: 200px;
    }
}

/* ----------- */
/* About Section */
.about {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 50px 20px;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
}

.about-content {
    margin-top: 20px;
    line-height: 1.8;
    font-size: 1.1rem;
}

.about-content .intro {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 300;
}

.about-content .intro span {
    color: #fff;
    font-weight: bold;
}

.about-content .details {
    font-size: 1rem;
    color: #ccc; /* Slightly lighter gray for contrast */
    font-weight: 300;
}

.about-content .details span {
    color: #fff;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about h2 {
        font-size: 2rem;
    }

    .about-content .intro, .about-content .details {
        font-size: 1rem;
    }
}

/* Tech Stack Section */
.tech-stack {
    background-color: black;
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.tech-stack h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 10px;
}

.tech-stack p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #ccc;
}

.tech-icons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
}

.tech-item {
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.tech-item:hover {
    transform: translateY(-10px);
    /* box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); */
}

.tech-item:hover img {
    transform: scale(1.1);
}

.tech-item p {
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .tech-stack h2 {
        font-size: 2rem;
    }

    .tech-stack p {
        font-size: 1rem;
    }

    .tech-icons {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}


/* General Styling */
/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
  color: #333;
} */

/* Projects Section */
.projects-section {
  height: 100%;
  margin-top: 30px;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to right, #3a6073, #16222a); */
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

/* Projects Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

/* Project Card */
.project-card {
  /* background: white; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Project Image */
.project-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 4px solid #0077b6;
}

/* Project Content */
.project-content {
  padding: 15px;
}

.project-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.project-description {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #666;
}

.project-link {
  font-size: 0.9rem;
  color: #0077b6;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #005f8a;
}



/* Services Section */
.services-section {
  padding: 70px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 2px solid white;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.service-card {
  background: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.service-image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.service-content {
  padding: 20px;
  text-align: center;
}

.service-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.service-description {
  font-size: 1rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Contact Section */
.contact {
    padding: 80px 0;
    color: white;
    text-align: center;
    height: 100%;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 10px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}

.contact-details {
    flex: 1;
    max-width: 350px;
}

.contact-details h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-details p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact-details ul {
    list-style-type: none;
    padding-left: 0;
}

.contact-details ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact-details ul li a {
    color: #51a4ac;
    text-decoration: none;
}

.contact-details ul li a:hover {
    text-decoration: underline;
}

.contact-form {
    flex: 1;
    max-width: 400px;
    padding: 10px;
    border-radius: 8px;
}

.contact-form h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    background-color:rgb(0, 0, 0);
    border: 1px solid rgb(59, 148, 195);
    border-radius: 25px;
    color: white;
    font-size: 1rem;
}

.contact-form button {
    background-color:rgb(31, 31, 31);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color:rgb(60, 107, 106);
    color: rgb(0, 0, 0);
}

.map {
    margin-top: 40px;
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-form {
        max-width: 100%;
    }

    .map iframe {
        width: 100%;
    }
}


/* Scroll-to-Top Button */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #514f4d;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    z-index: 1000;
    margin-bottom: 10px;
}

.scroll-to-top:hover {
    background-color: #302f2e;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


/* Footer Styles */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-top: 2px solid #ff9800;
}

.footer .social-icons {
    display: flex;
    gap: 10px;
}

.footer .social-icons a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .social-icons a:hover {
    color: #ff9800;
}
.footer-logo{
    color: white;
}

@media (max-width: 768px) {
    .footer .social-icons a {
        font-size: 12px;
    }
}
